/* Notes
   ============================================== */

/* 
 * black:   #020203
 * white:   #FEFEFD
 * blue:    #00ADEF     Vimeo link and title text color
 * orange:  #d35400     Vimeo link hover (approximation) color
 */

/* Global
   ============================================== */

html,
* {
   box-sizing: border-box;
   /* font-family: 'Inconsolata', monospace; */
   font-family: 'Roboto Mono', monospace;
   color: #FEFEFD;
   font-weight: 100;
   font-size: 16px;
}

body {
   background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),  
   url("img/DrDazFilmBackground.png");
   background-attachment: fixed;
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;  
   position: relative;
}

a { 
   text-decoration: none; 
   color: #00ADEF;
   font-weight: 400;
   transition: all .2s;
}

a:active,
a:hover {
   font-weight: 700;
   color: #d35400;
}

/* Page 
============================================== */

.page {
   max-width: 60rem;
   margin: 0 auto;
}

/* Title Section
   ============================================== */
.title {
   height: 7rem;
   padding: 2rem 1rem 0 1rem;   
}

.title-heading {
   font-weight: 100;
   font-size: 2rem;
   margin-bottom: .7rem;
}

.title-subheading {
   font-size: .8rem;
   /* font-style: italic; */
}

/* About Me Section 
============================================== */

.about-me {
   padding: 0 1rem 0 1rem;
   max-width: 40rem;
}

.about-me-heading,
.about-me-text {
   font-size: .8rem;
   line-height: 1.5;
   padding-bottom: .5rem;
}

/* Video Section 
   ============================================== */

.video {
   margin-top: 2rem;
   margin-bottom: 2rem;
   /* max-width: 60rem; */
}

.video-container {
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 30px; height: 0; overflow: hidden;
}
    
.video-container iframe,
.video-container object,
.video-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

/* Contact Section 
   ============================================== */

.contact {
   padding: 0 1rem 0 1rem;
}

.contact-icon {
   display: inline-block;
}

.contact-icon a ion-icon {
   color: #00ADEF;
   padding: .5rem .5rem .5rem 0;
   font-size: 2.8rem;
}

.contact-icon a ion-icon:active, 
.contact-icon a ion-icon:hover {
   color: #d35400;
   transition: all .2s;
}

/* Footer Section
   ============================================== */

.footer {
   margin-top: 4rem;
}

.footer-tag {
   color: rgba(254, 254, 253, 0.527);
   font-size: .6rem;
}