/* Notes
   ============================================== */

/* 
 * black: #020203
 * white: #FEFEFD
 */

/* Global
   ============================================== */

 html,
* {
   box-sizing: border-box;
   /* font-family: 'Inconsolata', monospace; */
   font-family: 'Roboto Mono', monospace;
   color: #FEFEFD;
   font-weight: 100;
}

/* Page 
   ============================================== */

.page {
   background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)),  
   url("img/DrDazFilmBackground.png");
   background-attachment: fixed;
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;  
}

/* Title Section
   ============================================== */
.title {
   height: 7rem;
   display: flex;
   align-items: center;
}

.title-group,
.contact-group {
   margin-left: .5rem;
}

.title-heading {
   font-weight: 400;
   font-size: .7rem;
   margin-bottom: .7rem;
}

.title-subheading {
   font-size: .7rem;
   /* font-style: italic; */
}

/* About Me Section 
  ============================================== */

  .about-me {
   margin-bottom: 2rem;
}

.about-me-group {
   margin: 0 .5rem 0 .5rem;
}

.about-me-heading,
.about-me-text {
   font-size: .7rem;
   line-height: 1.5;
   padding-bottom: .5rem;
}

/* Contact Section 
   ============================================== */
.contact {
   /* display: flex;
   align-items: center; */
}

.contact-heading {
   font-size: 1.5rem;
   margin-top: 2rem;
   margin-bottom: 3rem;
}

.contact-ipsum {
   margin-bottom: 2rem;
}

